.submit-btn {
  background-color: var(--blue-2);
  height: 40px;
  color: #fff;
  font-size: 16px;
  border-radius: 10px;
  border: none;
}
.submit-btn:hover {
  background-color: var(--blue-3);
  cursor: pointer;
  transition: all 0.3s ease;
}
