.class-stream-header {
  width: fit-content;
  position: absolute;
  right: 0%;
  top: 0;
  transform: translateY(-70%);
}
.stream-main {
  margin-top: 2rem;
  gap: 20px;
}
.class-stream {
  position: relative;
}
