.class-page {
  min-height: calc(100vh - 358px);
  padding: 1.5rem 2rem;
  gap: 30px;
}
.class-page > aside {
  gap: 30px;
  width: 250px;
}
.class-page-nav a {
  margin-inline: 0.5rem;
  font-size: 18px;
  font-weight: 600;
  position: relative;
}
.class-page-nav a::before {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 2px;
  width: 100%;
  border-radius: 500px;
  background-color: black;
}
.class-page-nav a:hover::before {
  content: "";
}
.class-page-nav a.active {
  color: var(--orange-2);
}
.class-page-nav a.active:hover::before {
  background-color: var(--orange-2);
}
