.class-card {
  background-color: var(--white);
  height: 200px;
  padding: 1rem;
}
.class-card-header {
  text-transform: capitalize;
  gap: 5px;
  font-size: 14px;
}
.class-card-header > h4 {
  font-size: 18px;
  font-weight: 600;
}
.class-card-body {
  margin-top: 2rem;
}
