.footer-item {
  gap: 0.5rem;
  color: white;
  width: 250px;
}
.footer-item-title {
  text-decoration: underline;
}
footer {
  padding: 2rem 0 0 0;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.footer-item-link:hover {
  text-decoration: underline;
}
.footer-item-text {
  text-align: justify;
  line-height: 120%;
}
.copy-right {
  margin-top: 3rem;
  width: 100%;
  color: #ffffff;
  font-size: 10px;
  font-weight: 600;
  padding: 0.75rem;
}
