:root {
  --section-inline-p: 2rem;
  --section-block-p: 3rem;
}
.page {
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  scroll-behavior: smooth;
}
img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.flex {
  display: flex;
}
.column {
  flex-direction: column;
}
.row {
  flex-direction: row;
}
.center {
  justify-content: center;
  align-items: center;
}
.circle {
  border-radius: 50%;
}
.rounded-1 {
  border-radius: 5px;
}
.rounded-2 {
  border-radius: 10px;
}
.border-bottom {
  border-bottom: 1px solid var(--black);
}
.w-100 {
  width: 100%;
}
.w-50 {
  width: 50%;
}
.h-100 {
  height: 100%;
}
.h-50 {
  height: 50%;
}
.semi-bold {
  font-weight: 600;
}
.bold {
  font-weight: 800;
}
.section,
.section-header,
.section-body {
  width: 100%;
}
.section {
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-content {
  flex: 1;
  max-width: 1340px;
  padding: var(--section-block-p) var(--section-inline-p);
}
.section-header {
  display: flex;
}
.section-body {
  display: flex;
  flex-direction: column;
}
.note {
  color: var(--grey-2);
  font-size: 12px;
  font-weight: 600;
}
.link:hover {
  cursor: pointer;
  color: var(--blue-3);
}
@media only screen and (max-width: 992px) {
  :root {
    --section-block-p: 2.5rem;
  }
  .section-content {
    width: 100%;
  }
}
@media only screen and (max-width: 768px) {
  :root {
    --section-inline-p: 1.5rem;
    --section-block-p: 2rem;
  }
}
@media only screen and (max-width: 479px) {
  :root {
    --section-inline-p: 1rem;
    --section-block-p: 1rem;
  }
}
