.pfp-drop-down {
  background-color: #fff;
  border: 1px solid var(--black);
  border-radius: 5px;
  position: absolute;
  right: 0px;
  bottom: -160px;
  display: flex;
  flex-direction: column;
  z-index: 100;
  min-width: 120px;
  transform-origin: top;
  opacity: 0;
  visibility: hidden;
  transform: scaleY(0);
  opacity: 1;
  visibility: visible;
  transition: 0.2s ease-out;
}
.pfp-show {
  transform: scaleY(1);
  opacity: 1;
  visibility: visible;
}
.pfp-drop-down-item {
  padding: 10px;
  width: 100%;
  font-size: 14px;
  color: var(--black);
}
.pfp-drop-down-item:hover {
  background-color: var(--grey-5);
}
.pfp-drop-down-item:first-child {
  border-radius: 5px 5px 0 0;
}
.pfp-drop-down-item:not(:last-child) {
  border-bottom: 1px solid var(--grey-4);
  text-transform: capitalize;
}
.pfp-drop-down-item:last-child {
  border-radius: 0 0 5px 5px;
}
