.home-nav-wrapper {
  height: 60px;
  align-items: center;
  justify-content: space-between;
  width: min(100%, 1600px);
}
.home-logo {
  padding: 5px 15px 5px;
}
.nav-link {
  padding-inline: 15px;
}
.nav-link:hover {
  cursor: pointer;
  background-color: var(--grey-5);
}
.pfp-img {
  width: 45px;
  height: 45px;
  margin-right: 15px;
  position: relative;
}
.pfp-img img {
  border-radius: 50%;
  object-fit: cover;
}
.nav-username {
  margin-inline-end: 0.25rem;
  padding-inline: 0.25rem;
}
