.user-profile {
  width: 100%;
  padding: 1rem 2rem;
  border-bottom: 1px solid var(--grey-4);
}

.pfp,
.pfp img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
}
.pfp img {
  object-fit: cover;
}
.user-info {
  height: 150px;
  margin-left: 1rem;
  gap: 10px;
}
