.stream-item {
  padding: 1rem;
}
.stream-files {
  margin-left: auto;
}
.file-img {
  height: 60px;
  user-select: none;
}
.download-btn {
  margin-inline: auto 1rem;
  cursor: pointer;
  display: inline-block;
  &,
  > svg {
    display: inline-block;
    height: 30px;
    width: 30px;
  }
}

.stream-title {
  font-weight: 600;
}
.stream-content {
  margin-top: 0.5rem;
  font-size: 15px;
}
