.stream-item {
  padding: 1rem;
}
.stream-files {
  margin-left: auto;
}
.file-img {
  height: 60px;
  user-select: none;
}
.download-btn {
  margin-left: 1rem;
  cursor: pointer;
  display: inline-block;
}
.download-btn,
.download-btn svg {
  height: 16px;
  width: 16px;
}

.stream-title {
  font-weight: 600;
}
.stream-content {
  margin-top: 0.5rem;
  font-size: 15px;
}
