.home-screen {
  width: 100%;
  height: calc(100vh - 61px);
}
.home-screen .join-btn {
  width: fit-content;
}
.api-error {
  height: 70%;
}
.api-error > h1 {
  color: red;
}
.api-error > p {
  width: 410px;
  line-height: 2rem;
  font-weight: 600;
  margin-block: 1rem;
}
.api-error > p > a {
  color: var(--blue-1);
}
.api-error > p > a:hover {
  text-decoration: underline;
}
.camera-preview-section {
  height: calc(100vh - 100px);
  padding-block: 3rem;
  padding-inline-start: 1rem;
}
.camera-preview {
  width: 65vw;
  border-radius: 10px;
}
.setup-settings {
  width: 100%;
  gap: 1rem;
}
.setup-settings > div {
  display: flex;
  flex-direction: column;
}
.setup-settings > div > label {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 0.25rem;
}
.setup-settings > div > input,
.setup-settings > div > select {
  width: 250px;
  border: 1px solid var(--grey-3);
  border-radius: 5px;
  height: 2rem;
}
.action-btns {
  flex-direction: row !important;
  gap: 10px;
}
.action-btns > button {
  height: 2rem;
  padding-inline: 0.75rem;
  border: none;
  background-color: var(--blue-2);
  color: var(--white);
  font-weight: 600;
  border-radius: 5px;
}
.action-btns > button:hover {
  background-color: var(--blue-3);
  /* color: var(); */
}
.page-call {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  /* overflow: hidden; */
}
.compiler-section {
  height: 93vh;
  width: 100%;
}
