.create-class-section {
  justify-content: center;
  margin-block: 3rem;
  padding-inline: 2rem;
}
.create-class-main {
  justify-content: center;
  width: min(100%, 1600px);
  gap: 3rem;
}
.create-class-main > section {
  padding-inline-start: 3rem;
}
