.basic-btn {
  height: 35px;
  width: 100%;
  padding-inline: 1rem;
  color: var(--white);
  border: none;
  border-radius: 5px;
}
.basic-btn.blue {
  background-color: var(--blue-2);
}
.basic-btn.blue:hover {
  background-color: var(--blue-3);
}
.basic-btn.orange {
  background-color: var(--orange-2);
}
.basic-btn.orange:hover {
  background-color: var(--orange-3);
}
.basic-btn.green {
  background-color: var(--green-2);
}
.basic-btn.green:hover {
  background-color: var(--green-3);
}
a.active > .basic-btn {
  background-color: var(--orange-2);
}
a.active > .basic-btn:hover {
  background-color: var(--orange-2);
}
.basic-btn.danger {
  background-color: rgb(255, 60, 60);
}
.basic-btn.danger:hover {
  background-color: rgb(255, 80, 80);
}
