.class-edit-page {
  min-height: calc(100vh - 358px);
}
.class-edit-nav {
  flex-basis: 1;
  border-right: 1px solid var(--grey-4);
}
.class-edit-nav > a {
  padding: 0.75rem 3rem;
  font-weight: 600;
}
.class-edit-nav > a:hover,
.class-edit-nav > a.active {
  background-color: var(--orange-3);
  color: var(--white);
}
