.register-form {
  width: 600px;
}

.register-inputs > * {
  margin-top: 5px;
}

.register-section {
  padding-block: 3rem;
}

.register-submit {
  margin-top: 2.5rem;
}
.register-submit-btn {
  width: 50%;
}
.register-form-pair {
  display: flex;
  gap: 20px;
}
