.register-form {
  width: 400px;
}

.register-inputs > * {
  margin-top: 5px;
}

.register-section {
  padding-block: 3rem;
}

.register-submit {
  margin-top: 0.75rem;
}
.register-submit-btn {
  width: 70%;
}
