.add-inst-form {
  width: 400px;
  margin-bottom: 50%;
}
.add-ins-wrapper {
  padding: 3rem;
  background-color: var(--white);
  margin-bottom: 10%;
}
.add-ins-wrapper > h4 {
  margin-bottom: 15px;
}
