.post {
  padding: 0.5rem 1.5rem;
  border-radius: 10px;
  gap: 10px;
}
.post-header {
  justify-content: space-between;
}
.post-id {
  gap: 6px;
  font-size: 16px;
  align-items: center;
}
.post-time {
  font-weight: 200;
}
.post-img {
  height: 40px;
  width: 40px;
  font-size: 12px;
}

.post-footer {
  gap: 0.3rem;
}
.post-footer-detail {
  font-size: 14px;
  gap: 2px;
}
.post-icon {
  height: 14px;
}
