.nav-aside {
  width: 200px;
  background-color: var(--blue-3);
}
.nav-item {
  margin-right: 0.25rem;
  margin-block: 10px;
  width: 100%;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
}
.nav-item a {
  padding-block: 1rem;
  padding-left: 1rem;
  color: var(--white);
  font-weight: 600;
  width: 100%;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  display: block;
}
.nav-item a:hover {
  text-decoration: underline;
  background-color: rgba(255, 162, 0, 0.7);
}
.nav-item a.active {
  background-color: var(--orange-3);
}
.logout {
  margin-top: auto;
}
