.search-form {
  position: relative;
  height: 35px;
}
.search-input {
  border-radius: 20px;
  height: 40px;
  border: none;
  padding-inline: 10px 20px;
}
.search-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
}
.search {
  gap: 10px;
}
.search-result {
  height: 40px;
  font-size: 14px;
  padding-inline: 10px 20px;
  align-items: center;
  justify-content: space-between;
}
.search-class-owner,
.search-class-name {
  text-transform: capitalize;
}
.search-results {
  margin-top: 10px;
  gap: 13px;
}
