.stream-header {
  justify-content: space-between;
}
.stream-due {
  margin-top: 5px;
  font-size: 14px;
}
.assignment-item:hover {
  background-color: rgba(0, 0, 0, 0.05);
  cursor: pointer;
  border-color: var(--white);
}
