.class-name-input {
  width: 400px;
}
.class-create-input {
  width: 700px;
  gap: 10px;
}
.class-create-input > label {
  color: var(--black);
  font-size: 16px;
  font-weight: 600;
}
.class-create-input-textarea {
  height: 110px;
  border: 1px solid var(--black);
  border-radius: 10px;
  resize: none;
  padding: 12px;
  font-size: 14px;
}
.class-create-form {
  gap: 10px;
}
.class-create-input-field {
  width: 400px;
  height: 45px;
  padding: 12px;
  border-radius: 10px;
  border: 1px solid var(--black);
  background-color: var(--white);
}
.instructor-input {
  position: relative;
}
.instructor-search {
  gap: 10px;
  position: absolute;
  top: calc(100% + 10px);
  left: 0;
}
.instructors-list {
  gap: 10px;
}
