.post-btn {
  width: fit-content;
}
.post-field > form {
  gap: 10px;
}
.post-field-input {
  resize: none;
  padding: 1rem;
  height: 6rem;
  border-radius: 10px;
  background-color: var(--grey-5);
}
